#a{
    text-align: center;
    margin:20px auto;
    font-size: 100px;
}

#c{
    margin-top:10px;
    margin-bottom:20px;
    margin-left:660px;
    
    text-align: center;
}
 #b{
    margin-top: 10px;
    margin-bottom:10px;
    margin-left:660px;

 }
 #e{
    
    background-color: aqua;
    border:10px solid black;
    height:500px;
    width:500px;
    
 }

